.home-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.leftbar-section {
    background-color: #1d1f1f;
    color: #a4a6a6; 
    height: auto;
    width: 4%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    position: sticky;

}

.contact-section {
    height: auto;
    width: 36%;
    background-color: #161717;
    color: #a4a6a6;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.chat-section {
    height: auto;
    width: 60%;
    background-color: #333333;
    display: flex;
    flex-direction: column;


}