.container {
    display: flex;
    width: 100%;
    max-height: 200px;
    padding: 12px;
    align-items: center;
    border-bottom: 1px solid #696767;
    background-color: #2d2e2e;
}

.imageWrapper {
    margin-right: 12px;
    width: 4.5rem;
    height: 5rem;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 50%;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    overflow: hidden;
}

.nombre {
    margin-bottom: 5px;
    display: flex;
    font-weight: bold;
    font-size: 25px;

}

.mensaje {
    margin-top: 5px;
    font-size: 18px;
    color: #a1abab;
    font-weight: 1000;
}

.timestamp {
    font-size: 15px;
    font-weight: 800;
    color: #dee4e4ff;
    margin-left: 10px;
}